<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="CTAPIContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=CTAPIContext-20141204140952; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CTAPIContext-20141204140952.mdf" providerName="System.Data.SqlClient" />

    <add name="SavisCoreFWEntities" connectionString="metadata=res://*/SavisCoreFW.csdl|res://*/SavisCoreFW.ssdl|res://*/SavisCoreFW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.30.235.177;initial catalog=SAVIS.CoreFW_VTVTask;user id=vtv24;password=12345a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomConnectionString" connectionString="data source=123.30.235.177;initial catalog=SAVIS.CoreFW_VTVTask;user id=vtv24;password=12345a@" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationName" value="VTV Can Tho" />
    
    <add key="administrator:userId" value="D3CAD886-63D9-434D-8868-F038F55087EA" />
    
    <!--Cac folder su dung de archive-->
    <add key="folder:highres" value="highres_files" />
    <add key="folder:lowres" value="lowres_files" />
    <add key="folder:source" value="source_files" />
    <add key="folder:resource" value="resource_files" />
    <!--Folder FTP su dung cho chuc nang truyen file qua ftp-->
    <add key="folder:RootPath" value="C:\ArchiveFolder\" />
    <add key="folder:TapePath" value="C:\TapeFolder\" />
    <add key="folder:xmlSource" value="\source_files\mlMetadata\" />
    <add key="folder:ftp" value="C:\FtpFolder\" />


    <add key="sorenson:uri" value="http://localhost/" />
    <add key="sorenson:username" value="admin" />
    <add key="sorenson:password" value="admin" />
    
    
    <add key="api:Token" value="7b1b78c64ef14867a3c1d44187fb4b98" />
    <add key="folder:Init" value="Chương trình thời sự,ThoiSu|Chương trình TH trực tiếp,THTT|Phòng đồ họa,KinhTe|Chương trình khoa giáo,ChinhTri|Trung tâm thể thao,VanHoa|Chương trình giải trí,VanHoa" />
    <add key="folder:Upload" value="http://localhost:7080/ContentFolder/" />
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="NewCMS.Business.Core.CustomMembershipProvider, NewCMS.Business" connectionStringName="CustomConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="VTV Can Tho" passwordFormat="Encrypted" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="NewCMS.Business.Core.CustomRoleProvider, NewCMS.Business" connectionStringName="CustomConnectionString" applicationName="VTV Can Tho" />
      </providers>
    </roleManager>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
 
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net>

    <!--<root>
      <level value="DEBUG" />
      <appender-ref ref="ADONetAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>-->

    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <connectionString value="Data Source=.\sql2008r2express;Initial Catalog=SAVIS.CoreFW_V24;Persist Security Info=True;User ID=sa;Password=12345a@" />
      <!--<connectionString value="Data Source=.\sql2008r2express;Initial Catalog=SAVISCORE;Persist Security Info=True;User ID=sa;Password=12345a@" />-->

      <commandText value="INSERT INTO [Log] ([Date],[ApplicationID],[Thread],[Level],[Logger],[ActionByUserID],[Exception],[UserID] ,[ModuleID],[Content], [ObjectID]) VALUES (@log_date, @log_applicationID ,@thread, @log_level, @logger, @log_action, @exception, @userId, @moduleId, @content, @objectId)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_applicationID" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="log_applicationID" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="256" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="64" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_action" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log_action}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@userId" />
        <dbType value="Guid" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@moduleId" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="moduleId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@content" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{content}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@objectId" />
        <dbType value="Guid" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="objectId" />
        </layout>
      </parameter>
    </appender>

    <!--<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\NewCMS.API\V24_API_Log_" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1024KB" />
      <param name="DatePattern" value="yyyy-MM-dd.\lo\g" />
      <param name="StaticLogFileName" value="false" />
      <parameter>
        <parameterName value="@log_action" />
        <dbType value="String" />
        <size value="512" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log_action}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_applicationID" />
        <dbType value="Guid" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="log_applicationID" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userId" />
        <dbType value="Guid" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="userId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@content" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{content}" />
        </layout>
      </parameter>
      <layout type="log4net.Layout.PatternLayout">
        --><!--<param name="ConversionPattern" value="%d{HH:mm:ss} [%-5level] [%logger] [%method]  %message  [%property{log4net:HostName}]  %property{log_applicationID}  %property{log_action}  %property{userIds}  %property{content} %newline" />--><!--
        --><!--<param name="ConversionPattern" value="%d{HH:mm:ss} [%-5p] [%-10M] - %m   %property{log_applicationID}  %property{log_action}  %property{userId}  %property{content}  %newline" />--><!--
        --><!--<param name="ConversionPattern" value="%d{HH:mm:ss} [%-5level] [%logger] [%method]  %message   %property{log_applicationID}  %property{log_action}  %property{userId}  %property{content}  %newline" />--><!--

        --><!--Update : 23 Mar 2015 - TruongND
        Remove [RollingFileAppender] [FileError]  [Class: NewCMS.Common.ApplicationLog - Method: FileError]--><!--
        <param name="ConversionPattern" value="%d{HH:mm:ss} [%-5level] %message %property{log_applicationID}  %property{log_action}  %property{userId}  %property{content}  %newline" />

      </layout>
    </appender>-->

    <logger name="ADONetAppender">
      <level value="ALL" />
      <appender-ref ref="ADONetAppender" />
    </logger>

    <!--<logger name="RollingFileAppender">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>-->

  </log4net>
  

  <system.webServer>


    <!--This code let web api PUT/DELETE verb works on IIS 7.5, should be removed if using IIS 8 -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <!--This code let web api PUT/DELETE verb works on IIS 7.5, should be removed if using IIS 8 -->
      <remove name="WebDAV" />
      
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

  <staticContent>
    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
  </staticContent>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QStarWebServiceSoapBinding" />
        <binding name="BasicHttpBinding_IGeneralService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9898/service" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGeneralService" contract="GeneralService.IGeneralService"
        name="BasicHttpBinding_IGeneralService" />
    </client>
  </system.serviceModel>

</configuration>